Flask==3.0.0
requests
beautifulsoup4
pandas
yfinance
PyPDF2
google-genai
python-dotenv
Flask-Babel
APScheduler==3.10.4
git+https://github.com/rongardF/tvdatafeed.git
git+https://github.com/druzsan/justetf-scraping.git